/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .info-box {
    color: #444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
    width: 100%;
  }
  
  .contact .info-box i {
    font-size: 32px;
    color: rgb(250, 160, 5);
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted  #157e15;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #666;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .contact .info-box a {
    text-decoration: none;
    color: #666;
    cursor: pointer;
  }
  .contact .azure-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
  }
  
  .contact .azure-email-form .sent-message {    
    color: #fff;
    text-align: center;
    padding: 0 0 0 15px;
    font-weight: 600;
  }
  .contact .azure-email-form .error-message {    
    color: #ff0000;
  }  
  .contact .azure-email-form .sent-message.successful {   
    background: #18d26e;
  }
  .contact .azure-email-form .sent-message.failed {   
    background: #ff0000;
  }

  .contact .azure-email-form .loading {
    background: #fff;
    text-align: center;
    padding: 0 0 0 15px;
  }
  
  .contact .azure-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .azure-email-form input, .contact .azure-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .azure-email-form input::focus, .contact .azure-email-form textarea::focus {
    background-color: #428bca;
  }
  
  .contact .azure-email-form input {
    padding: 20px 15px;
  }
  
  .contact .azure-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .azure-email-form button[type="submit"] {
    background: #157e15;
    border: 0;
    padding: 10px 24px;
    color: rgb(250, 160, 5);
    transition: 0.4s;
  }
  
  .contact .azure-email-form button[type="submit"]:hover {
    background: rgb(250, 160, 5);
    color: #157e15;
  }