<section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="icofont-envelope"></i><a href="mailto:{{commonData.emails.slice(0, 1)}}">{{commonData.emails.slice(0, 1)}}</a>
        <i class="icofont-phone"></i><a href="tel:{{commonData.mobiles.slice(0, 1)}}">{{commonData.mobiles.slice(0, 1)}}</a>
      </div>
      <div class="social-links float-right">
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
      </div>
    </div>
  </section>