<!-- ======= About Us Section ======= -->
<section id="about_us" class="about">
    <div class="container">

      <div class="row no-gutters">
        <div class="d-flex flex-column justify-content-center about-content">

          <div class="section-title">
            <h2>About Us</h2>
            <p>Gardening Techs brings landscaping and excavation experience and
              horticultural knowledge to your residential, commercial, and industrial outdoor
              space.
              If it’s high-quality custom-landscape creation you want, Gardening Techs will deliver.
              As a licensed excavator operator and horticulturist, Gardening Techs
              understands both the art and science required to create an exterior space that not
              only looks great but functions well.<br/><br/>
              Along with the team, we works with you to plan and prepare your outdoor space
              before completing the construction and installation phase – having our input and
              design advice from the start ensures you receive a better result.
              Whether we are repairing or redoing an existing space or starting with a blank
              canvas, we create exteriors based on your needs and want to make sure we
              overcome any landscaping obstacles, such as site slopes, ground conditions, water,
              wind, sun, and available space.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-thumbs-up"></i></div>
            <h4 class="title"><a>Team</a></h4>
            <p class="description">Our team – from our friendly customer service to our expert gardener – take
              absolute pride in the quality of service, project management and workmanship we
              deliver.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-tick-mark"></i></div>
            <h4 class="title"><a>Commitment</a></h4>
            <p class="description">Each project is handled with the care and consideration needed to achieve the
              landscape design you desire.</p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->