 <!-- ======= Our Portfolio Section ======= -->
 <section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="section-title">
        <h2>Our Portfolio</h2>
        <p>{{_portfolioHeading}}</p>
      </div>

      <!--<div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>-->

      <div class="row portfolio-container">

        <div *ngFor="let pfolio of _portfolios; let i=index" class="col-lg-4 col-md-6 portfolio-item">
          <div class="portfolio-wrap">
            <img src="{{pfolio.src}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{pfolio.caption}}</h4>
              <p>{{pfolio.description}}</p>
              <div class="portfolio-links">
                <a (click)="open(i)" data-gall="portfolioGallery" class="venobox" title="{{pfolio.caption}}"><i class="icofont-eye"></i></a>                
              </div>
            </div>
          </div>
        </div>
      
      </div>

    </div>
  </section><!-- End Our Portfolio Section -->